<div class="d-flex flex-horizontal">

    <div class="alert alert-warning">
      <div class="w-100 col p-4">
        <div class="card">
          <img src="/torta.png" width="200" height="180">
          <div class="card-body">
            <h5 class="card-title">Torta Chocolate</h5>
            <p class="card-text">Torta hecha a base de chocolate</p>
            <p class="card-text"><strong>S/ 50</strong></p>
            <a class="btn btn-primary" href="/pago">Agregar</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="alert alert-warning">
      <div class="w-100 col p-4">
        <div class="card">
          <img src="/helada.JPG" width="200" height="180">
          <div class="card-body">
            <h5 class="card-title">Torta Chocolate</h5>
            <p class="card-text">Torta hecha a base de chocolate</p>
            <p class="card-text"><strong>S/ 50</strong></p>
            <a class="btn btn-primary" href="/pago">Agregar</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="alert alert-warning">
      <div class="w-100 col p-4">
        <div class="card">
          <img src="/torta-vainilla.jpg" width="200" height="180">
          <div class="card-body">
            <h5 class="card-title">Torta Chocolate</h5>
            <p class="card-text">Torta hecha a base de chocolate</p>
            <p class="card-text"><strong>S/ 50</strong></p>
            <a class="btn btn-primary" href="/pago">Agregar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="alert alert-warning">
        <div class="w-100 col p-4">
          <div class="card">
            <img src="/torta-vainilla.jpg" width="200" height="180">
            <div class="card-body">
              <h5 class="card-title">Torta Chocolate</h5>
              <p class="card-text">Torta hecha a base de chocolate</p>
              <p class="card-text"><strong>S/ 50</strong></p>
              <a class="btn btn-primary" href="/pago">Agregar</a>
            </div>
          </div>
        </div>
      </div>

  
  </div>

