<h1 class="text-center">Encuéntranos</h1>
<div class="card-body d-flex flex-horizontal">

  <div class="card card-primary col-md-5 ms-0.5 p-3">
    <h3>Comunicate con nosotros</h3>
    <a><i class="bi bi-chat-text-fill"></i></a>
    <p></p>
    <p><strong>Asistente virtual</strong>  <br>
      Te atendera las 24 hrs</p>

      <p><strong>Escribenos</strong>  <br>
        Estamos para ayudarte <br>
        <a href="#">tortasyaniagmail.com</a></p>

        <p><strong>Llamanos</strong>  <br>
          Centro de servicio de atencion al cliente Cusco <br>
          Teléfono: 084-234536
          </p>
  </div>

  <div class="card card-primary col-md-4 ms-0.5 p-3">
    <p></p>
    <h5>Nosotros</h5>
    <a><i class="bi bi-chat-text"></i></a>
    <p></p>
    <p>Conocenos</p>
    <p>Trabaja con nosotros</p>
    <p>Responsabilidad social</p>
    <p>Libro de reclamaciones</p>
  </div>

  <div class="card card-primary col-md-3 ms-0.5 p-3">
    <p></p>
    <h5>Atencion al cliente</h5>
    <a><i class="bi bi-chat-text"></i></a>
    <p></p>
    <p>Tutorial de compra</p>
    <p>Horario de atencion</p>
    <p>Preguntas frecuentes</p>
    <p>Comprobante electronico</p>
    <p>Cambios y devoluciones</p>
  </div>
</div>




<div class="text-center">
  <img src="/ubicacion.png" width="120" height="120">
    <p class="text-center italic">
    San Borja G - 21 Cusco Solo recojo, previa coordinación</p>
    <img src="/horario.png" width="150" height="120">
    <p class="text-center italic">
      Horario: Lunes a sábados: 8am a 5pm Domingos: No hay atención
    </p>
    <img src="/telefono.jpg" width="120" height="120">
    <p class="text-center italic">Teléfono:
      084-234536</p>
</div>

