<div class="container-fluid d-flex justify-content-md-between flex-row alert alert-warning" id="navbar-container">
  <div class="logo">
    <img id="logo" src="/logotienda.png" alt="" height="100px;">
  </div>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="p-3 mb-2 nav-link" routerLink="/">Inicio</a>
    <a class="p-3 mb-2 nav-link" routerLink="/about">Acerca de</a>
    <a class="p-3 mb-2 nav-link" routerLink="/contact">Contacto</a>
    <a class="p-3 mb-2 nav-link" routerLink="/products">Productos</a>
    <a class="p-3 mb-2 nav-link" routerLink="/iniciar">Iniciar Sesion</a>
    <a class="p-3 mb-2 nav-link" routerLink="/widget-listarpersonal">Personal</a>
  </nav>
</div>

<router-outlet></router-outlet>

<footer class="alert alert-warning">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h6 class="text-muted lead">CONTACTO:</h6>
            <h6 class="text-muted">
              Ubicanos San Borja G - 21<br>
            Teléfonos: 084-234536<br>
            </h6>
        </div>
        <div class="col-xs-12 col-md-6">
        <div class="pull-right">
        <h6 class="text-muted lead">ENCUENTRANOS EN LAS REDES</h6>
              <div class="redes-footer">
                  <a href="#"><img src="/facebook.png" width="40" height="40"></a>
                  <a href="#"><img src="/instagram.jpg" width="50" height="50"></a>
                  <a href="#"><img src="/tiktok.png" width="70" height="70"></a>
                  <a href="#"><img src="/twiter.jpg" width="50" height="50"></a>
                  <a href="#"><img src="/whatsapp.png" width="50" height="50"></a>
              </div>
        </div>
    </div>
  </div>
</div>
</footer>

