<div class="text-center">
  <h1 class="text-center">Datos de pago por yape</h1>
  <div class="d-flex justify-content-center">
    <div class="card w-50">

      <div class="alert alert-warning d-flex flex-horizontal p-2">
        <div class="card col-md-5 ms-0.5">
          <h3>YAPE</h3>
          <p>Pago por yape este es el numero de la empresa de tortas y envia la captura del voucher al mismo
            numero mediante whatsapp.
          </p>
          <p>979345234</p>
          <h3>QR</h3>
          <img src="/qr.jpg" width="250" height="250">
        </div>

        <div class="card row justify-content-between col-md-7 ms-1">
          <h5>Productos seleccionados para la compra</h5>
          <h5 style="color: red;"><strong>MONTO</strong></h5>
          <p>Torta de chocolate S/. 50.00 <br>
            Torta de vainilla S/. 50.00</p>
            <p style="background-color: yellow;"><strong>Total S/. 100.00</strong></p>
        </div>

      </div>


  </div>
</div>
