<div class="alert alert-warning"></div>
<div class="card-body col-md-4 mx-auto">
  <div class="card w-70">
  <form class="d-flex flex-column text-center" [formGroup]="miFormulario" (ngSubmit)="onSubmit()">
    <h5>Cambiar Contraseña</h5>
    <div class = "form-group d-flex flex-column">
       <label>Ingrese su contraseña</label>
       <input type = "password" formControlName="contrasena" class = "form-control" placeholder = "Ingrese contraseña">
       <div *ngIf="contrasena?.invalid" class="text-danger">
        <span *ngIf="contrasena?.errors?.['required']">el campo es requerido</span>
       </div>
    </div>
    <div class = "form-group d-flex flex-column">
      <div>
        <label for = "exp">Registre nueva Contraseña</label>
        <input type = "password" formControlName="nuevacontrasena" class = "form-control" placeholder = "Ingrese contraseña">
        <div *ngIf="nuevacontrasena?.invalid" class="text-danger">
          <span *ngIf="nuevacontrasena?.errors?.['required']">el campo es requerido</span>
         </div>
      </div>
   </div>
  <div class = "">
    <button type="submit" class="btn btn-primary">cambiar</button><br>
  </div>
  </form>
</div>
</div>
